* {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App {
	height: 100vh;
}

.header {
	background-color: #badc58;
	height: 10vh;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	background-color: #6ab04c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.beastDisplay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
}

.hornedBeast {
	background-color: #dff9fb;
	padding: 50px;
	text-align: center;
}

.hornedBeast h2 {
	font-size: 2rem;
}

.hornedBeast img {
	width: 10vw;
	height: 15vh;
}

.footer {
	background-color: #badc58;
	display: flex;
	align-items: center;
	justify-content: center;
}
