* {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin: 0px;
}

.App {
	height: 100vh;
}

.header {
	background-color: #badc58;
	height: 10vh;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	background-color: #6ab04c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.beastDisplay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
}

.hornedBeast {
	background-color: #f5f6fa;
	padding: 50px;
	text-align: center;
	width: 30vw;
	margin: 10px;
}

.hornedBeast h2 {
	font-size: 2rem;
}

.hornedBeast img {
	width: 10vw;
	height: 15vh;
}

.hornedBeast p,
h2,
img {
	margin: 10px;
}

.voting {
	display: flex;
	align-items: center;
	justify-content: center;
}

.voting button {
	margin: 20px;
	background-color: #badc58;
	height: 5vh;
	width: 8vw;
}

.footer {
	background-color: #badc58;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer p {
	margin: 10px;
}
